<ion-view title="Sign in" style="background:lightgreen">
  <ion-content style="background:lightgreen">
          <div style="background:lightgreen">
            <label class="item item-input" >
              <input ng-model="username" placeholder="enter your name" value="" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input ng-model="user.password"  value="" type="text">
            </label>

            <div style="text-align:center">
              <button class="button" ng-click="goToChat()">Go</button>
            </div>
            
          </div>   
  </ion-content>
</ion-view>

    