 <ion-view title="Home" ng-controller="CardsCtrl">
   <td-cards ng-if="showCards">
      <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index,card)" on-swipe-right="cardSwipedRight($index,card)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
        <div class="image" ng-controller="CardCtrl">
          <div class="no-text">NO</div>
          
          <div class="textCard">{{card.text}} {{card.key}}</div>
          <div class="yes-text">YES</div>
        </div>
      </td-card>
    </td-cards>
      </ion-content>
    </ion-view>
