<ion-view title="Chat">

  <div class="chat-header">
    <img src="img/settings.png" class="chat-settings">
    <img src="img/menu.png" class="chat-menu">
    <div class="avatars-container">
      <div id="avatars" ng-repeat="user in users">
        <div ng-class="messages.current.username === user.title ? 'vLine' : ''">
          <img id="{{title}}" class="avatar" ng-class="messages.current.username === user.title ? 'selected' : ''"  ng-src="{{user.avatar}}"></div>
        <div class="avatarLine"></div>
      </div>
    </div>
  </div>

  <ion-content scroll="false" class="has-header custom-header has-footer chat-content" style="padding: 10px;">

    <div class="eqbox-container">
      <div ng-bind-html="messages.current.content" class="current-message">
      </div>
      <div class="eqbox">
        <div eqanim enable=true></div>
      </div>
    </div>

    <ion-content class="message-draw" scroll="true">

      <ol class="messages">
        <li ng-class="{'userMsg': message.username == username}" ng-repeat="message in messages">
          <div class="bubble-container">
            <div class="bubble-pin">
              <img ng-src="{{getAvatarForCurrentUser()}}">
            </div>
            <div class="bubble">
              <p ng-bind-html="message.content" ng-class="{'userMsg': message.username == username}"></p>
            </div>
          </div>
        </li>
      </ol>
    </ion-content>
  </ion-content>

  <ion-footer-bar class="chat-footer">
    <!--<div class="center">-->
    <!--<textarea ng-model="newMessage" class="send-message-input" placeholder="Type your message" type="text"></textarea>-->
    <!--<img src="img/send_icon.png" class="send-icon" ng-click="sendMessage()">-->
    <!--</div>-->
    <div class="center">
      <img src="img/shutDown.png" class="shutdown-icon">
    </div>
  </ion-footer-bar>
</ion-view>
