    <ion-view title="Chat">

      <div class="bar bar-subheader notification"></div>

      <ion-content scroll="true" class="has-header chat-content" style="padding: 10px;">

        <ol class="messages">
          <li ng-class="{'userMsg': message.username == username}" ng-repeat="message in messages">
            <span ng-if="message.username != usernae" class="message-username">{{message.username}}</span>
            <div class="bubble">
              <p ng-bind="message.content" ng-class="{'userMsg': message.username == username}"></p>
            </div>
          </li>
        </ol>
      </ion-content>

      <ion-footer-bar style="display:inline">
        <form ng-submit="sendMessage()" class="message-form">
          <label class="item-input-wrapper">
            <input ng-model="newMessage" class="input-message" type="text" placeholder="Message">
          </label>
        </form>
      </ion-footer-bar>

    </ion-view>
