<ion-view title="Chat">

  <div class="chat-header">
    <img src="img/chat_logo.png" class="chat-logo">
    <span class="title">Chat with</span><br>
    <span class="place">{{place}}</span>
  </div>

  <ion-content scroll="true" class="has-header has-footer chat-content" style="padding: 10px;">

    <div class="eqbox-container">
      <div class="eqbox">
        <div eqanim enable=true></div>
      </div>
    </div>

    <ol class="messages">
      <li ng-class="{'userMsg': message.username == username}" ng-repeat="message in messages">
        <div class="bubble-container">
            <div class="bubble-pin">
              <img ng-src="{{message.avatar}}">
            </div>
            <div class="bubble">
              <p ng-bind="message.content" ng-class="{'userMsg': message.username == username}"></p>
            </div>
        </div>
      </li>
    </ol>
  </ion-content>

  <ion-footer-bar class="bar-positive chat-footer">
    <div class="center">
      <textarea ng-model="newMessage" class="send-message-input" placeholder="Type your message" type="text"></textarea>
      <img src="img/send_icon.png" class="send-icon" ng-click="sendMessage()">
    </div>
  </ion-footer-bar>
</ion-view>
