

<ion-view title="Sign in" >
  <ion-content class="loading">

<div class="progress" ng-show="progressShow" >
  <div class="row-center">
    <div class="col">
        <div class="circle" ng-class="circleAnim"></div>
        <div class="circle circle2" ng-class="circleAnim2"></div>
    </div>
  </div>
  <div class="row-center">
    <div class="col">
      <div class="text" ng-click="simulate(2)">{{street}}
        <p>{{city}}</p></div>
    </div>
  </div>
  <div class="row-center">
    <div class="col" ng-click="simulate(1)">
          <img class="mylogo" src="img/appLogo.png" style="width:60px">
    </div>
  </div>  

</div>
<div  class="myform"  ng-show="myformShow">
  <div class="row-center">
    <div class="col col-center">
     <div ng-if="true" >
      <label class="item item-input" >
        <input ng-model="myuser" style="color:#fff;width:160px" class="inp" placeholder="what's your name?" value="" type="text" ng-change="userInputChange(myuser)">
      </label>
      <!--label class="item item-input">
        <span class="input-label">Password</span>
        <input ng-model="user.password"  value="" type="text">
      </label-->

      <div style="text-align:center;margin-top:100px">
        <button class="mybutton" ng-click="goToChat()">GO</button>
      </div>
    </div>  


    </div>
  </div> 
</div>

  </ion-content>
</ion-view>

    