.triviaTimer{
  text-align:center
}
.cardsView{
  background: -webkit-linear-gradient(top,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* W3C */
}
td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 200px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  background: #fff;

}

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}
td-card .textCard{
  font-family: segoeuil;
  font-size: 22px;
  padding:20px;  
  width: 300px;
  height: 300px;
  line-height: 30px;
  background: #d7ddde;
}
td-card .textCard .number{
  margin-bottom:10px;
  font-size: 26px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}
/*.myMackdrop{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#000000;
  z-index: 20;
  opacity:.8;
}*/
.triviaMessage{
  position:absolute;
  top:30px;
  left:0;
  right:0;
  text-align: center;
  z-index: -10;

}
.triviaMessage p{
  margin-bottom:50px;
  font-size:26px;
  text-align: center;
  color:#ffffff;
}
.triviaMessage p.counter{
  font-size:60px;
  margin-top:20px;
  line-height: 1.5;
}

.arc{
  position:relative;
  top:-155px;
  stroke-linecap:round;
  transition:stroke-dashoffset 0.1s linear;

}