.chat-header {
    width: 100%;
    height: 100%;
    background-color: #252525;
    text-align: center;
}

.chat-header .title {
    color: #666666;
    padding-right: 40px;
}

.chat-header .place {
    color: #666666;
    font-weight: bold;
    padding-right: 40px;
}

.chat-settings {
    float: left;
    padding-top: 21px;
    padding-left: 35px;
}

.chat-menu {
    float: right;
    padding-top: 21px;
    padding-right: 35px;
}

.message-draw {
    margin-top: 155px !important;
}

.chat-content {
    background-color: #363636;
    top: 50px;
}

.custom-header {
    top: 278px !important;
}

.eqbox-container {
    width: 100%;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.eqbox {
    width: 100%;
    height: 140px;
    background-color: F1F1F1;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.bubble-container {
    width: 100%;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

.bubble-container .bubble {
    color: #1E1E1E;
    font-size: medium;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 60px;
    margin-top: 22px;
    background: #E1E1E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.bubble-container .bubble-pin {
    border-style: solid;
    border-width: 6px;
    border-radius: 33px;
    width: 66px;
    height: 66px;
    z-index: 999;
    border-color: #FE6678;
    position: absolute;
    left: 14px;
}

.bubble-container .bubble-pin img {
    width: 55px;
}

.bubble-container .bubble-me {
    background: #E77A77;
    text-align: right;
    float: right;
}

.bubble-container .bubble-pin-me {
    margin-left: 94%;
    border-color: #E77A77 transparent;
}

.message-title {
    width: 100%;
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
}

.message-title .username {
    float: left;
}

.message-title .username-me {
    float: right;
}

.message-title .dot {
    color: #7BD3DA;
    font-weight: bold;
}

.message-title .dot-me {
    color: #E77A77;
    font-weight: bold;
}

.message-title .time {
    color: #808080;
}

/* start overrides ionic has-footer css */
.has-footer {
    bottom: 100px !important;
}
/* end overrides ionic has-footer css*/

.chat-footer {
    height: 100px !important;
    background-color: #252525 !important;
}

.chat-footer .center {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.chat-footer .send-message-input {
    width: 87%;
    height: 60px;
    float: left;
    padding: 7px;
}

.chat-footer .send-icon {
    height: 60px;
    float: right;
}


