@font-face {
font-family: SAP_CLEAR09;
src: url("fonts/SAP_CLEAR09-BoldCondensed.otf") format("opentype");
font-weight: bold;
}

@font-face {
font-family: SAP_CLEAR09_light;
src: url("fonts/SAP_CLEAR09-LightCondensed.otf") format("opentype");
font-weight: lighter;
}

@font-face {
font-family: SAP_CLEAR09;
src: url("fonts/SAP_CLEAR09-RgCondensed.otf") format("opentype");
}

@font-face {
    font-family: segoeuil;
    src: url("fonts/segoeuil.ttf");
}

body{
  font-family: segoeuil;
}
input[type="text"]
 {
  font-family: segoeuil;  
}

.loading {
  background: #7bd3da url(../img/loading.gif) no-repeat center center;  
  background-attachment: fixed;
  background-position: center 30px;   
  text-align: center;
  margin: auto;
  position: absolute;
  z-index: -5;
  width:100%;
  height:800px;
}

.found-bg{
 background: #7bd3da url(../img/loading.jpg) no-repeat center center;  
  background-attachment: fixed;
  background-position: center 30px;   
  text-align: center;
  margin: auto;
  position: absolute;
  z-index: -5;
  width:100%;
  height:800px;
}
.search-text{
  position: relative;
  text-align :center;
  top:430px;
  color:#fff;
  font-family: SAP_CLEAR09_light;
  font-size: 24px;
}
.results{
  position: absolute;
  text-align:center;
  top:220px;
}
.location-text{
    text-align :center;
    color:#fff;
    font-family: SAP_CLEAR09_light;
    font-size: 18px; 
    margin-bottom:80px;
    height:50px;
}
.location-text p{
      font-size: 16px; 
}
.mylogo{
    position: relative;

    margin:auto;
   text-align :center;
}
.myform{
  position: absolute;
  margin-top:200px;
}
.loading .goButton{
  text-align:center;
  margin-top:70px

}
.mybutton{
  border-color: #7bd3da;
  border-radius: 100%;
  background-color: #68bcbf;
  color: #7bd3da;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 60px;
  min-height: 60px;
  border-width: 0px;
  border-style: solid;
  vertical-align: top;
  text-align: center;
  font-size: 26px;
  cursor: pointer; 
}  

label.login{
  background:transparent;
  border-bottom:1px solid #fff;
  margin:auto;
  text-align: right;
}
input[type="text"].inp 
 {
  color:#fff;
  font-size:24px;
  background: transparent;
  border-bottom:1px solid #fff;
  margin:0;
}
input.inp::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff;
  text-indent: 0; }

.progress {
  position: relative;
  top:100px;
}
.winner {
}
.resultsView{
    background: url(../img/Winner_screen.png) center center;  
    background-repeat: no-repeat;
    background-size: 380px 560px;
    top:0
    left:0;
    bottom:0;
    right:0;
    z-index: -1;
}
.resultsView h1 {
  text-align: center;
  color:#fff;
}
.results-bg{
    background: -webkit-linear-gradient(top,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* W3C */    

}