@font-face {
font-family: SAP_CLEAR09;
src: url("fonts/SAP_CLEAR09-BoldCondensed.otf") format("opentype");
font-weight: bold;
}

@font-face {
font-family: SAP_CLEAR09_light;
src: url("fonts/SAP_CLEAR09-LightCondensed.otf") format("opentype");
font-weight: lighter;
}

@font-face {
font-family: SAP_CLEAR09;
src: url("fonts/SAP_CLEAR09-RgCondensed.otf") format("opentype");
}

@font-face {
    font-family: segoeuil;
    src: url("fonts/segoeuil.ttf");
}

body{
  font-family: segoeuil;
}
input[type="text"]
 {
  font-family: segoeuil;  
}

.loading {
background: #7bd3da; /* Old browsers */
background: -moz-linear-gradient(top,  #7bd3da 1%, #68bcbf 58%, #47748f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#7bd3da), color-stop(58%,#68bcbf), color-stop(100%,#47748f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7bd3da 1%,#68bcbf 58%,#47748f 100%); /* W3C */

  text-align: center;
  margin: auto;
  position: relative;
  top:200px;
}

.circle {
  background: transparent;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;  
}

.circle2 {
  position:relative;
  top:-200px;  
}

.circleAnim {
  -webkit-animation:grow 2s infinite;
  border:4px solid #fff;
}

.circleAnim2 {
  -webkit-animation:grow2 2.2s infinite;
  border:4px solid #fff;
}


@-webkit-keyframes grow {
 0% {
-webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
  }  
  50% {
    -webkit-transform: scale( 0.1 );
    -moz-transform: scale( 0.1 );
    -o-transform: scale( 0.1 );
    -ms-transform: scale( 0.1 );
    transform: scale( 0.4 );
  }
  100% {
    -webkit-transform: scale( 0.1 );
    -moz-transform: scale( 0.1 );
    -o-transform: scale( 0.1 );
    -ms-transform: scale( 0.1 );
    transform: scale( 0.4 );
  }
}

@-webkit-keyframes grow2 {
 0% {
-webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
  }  
  50% {
    -webkit-transform: scale( 0.1 );
    -moz-transform: scale( 0.1 );
    -o-transform: scale( 0.1 );
    -ms-transform: scale( 0.1 );
    transform: scale( 0.4 );
  }
  100% {
    -webkit-transform: scale( 0.1 );
    -moz-transform: scale( 0.1 );
    -o-transform: scale( 0.1 );
    -ms-transform: scale( 0.1 );
    transform: scale( 0.4 );
  }
}


.text{
  position: relative;
  text-align :center;
  top:-250px;
  color:#fff;
  font-family: SAP_CLEAR09_light;
  font-size: 24px;
}
.mylogo{
    position: relative;
    top:-360px;
    margin:auto;
   text-align :center;
}
.myform{
  position: relative;
  margin-top:200px;
}
.mybutton{
  border-color: #7bd3da;
  border-radius: 100%;
  background-color: #68BCBF;
  color: #7bd3da;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 60px;
  min-height: 60px;
  border-width: 0px;
  border-style: solid;
  vertical-align: top;
  text-align: center;
  font-size: 26px;
  cursor: pointer; 
}  

label.login{
  background:transparent;
  border-bottom:1px solid #fff;
  margin:auto;
  text-align: right;
}
input[type="text"].inp 
 {
  color:#fff;
  font-size:24px;
  background: transparent;
  border-bottom:1px solid #fff;
  margin:0;
}
input.inp::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff;
  text-indent: 0; }
.progress {
  position: relative;
  top:100px;

}

/* when hiding the thing */
.progress.ng-hide-add{ 
  -webkit-animation:1s eitan ease; 
  animation:1s eitan ease; 

}

/* light speed out */
@-webkit-keyframes eitan {
  0% {
  }

  100% {
    -webkit-transform: translate(0, -100px);
  }
}

myformShow.ng-hide-remove{


}

.myMackdrop{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#000000;
  z-index: 20;
  opacity:.8;
}
.triviaMessage{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
  z-index: 1000;

}
.triviaMessage p{
  margin-top:140px;
  margin-bottom:50px;
  font-size:26px;
  text-align: center;
  color:#ffffff;
}
.triviaMessage p.counter{
  font-size:60px;
  
}

.arc{
  position:relative;
  top:-155px;
  stroke-linecap:round;
  transition:stroke-dashoffset 0.1s linear;

}

/*
.timer {
    background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%);
    border-radius: 100%;
    height: 150;
    position: relative;
    width: 150px;
    left:30%;
    -webkit-animation: time 20s steps(20, start) infinite;
}
.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    right:0;
    position: absolute;
    top: 0;
    width: 50%;
    -webkit-animation: mask 20s steps(10, start) infinite;
    -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes mask {
    0% {
        background: #eee;
        -webkit-transform: rotate(0deg);
    }
    50% {
        background: #eee;
        -webkit-transform: rotate(-180deg);
    }
    50.01% {
        background: skyBlue;
        -webkit-transform: rotate(0deg);
    }
    100% {
        background: skyBlue;
        -webkit-transform: rotate(-180deg);
    }
}


*/