<html>
  <head>
       <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="css/ionic.css">

    <link rel="stylesheet" href="lib/ionic/css/td-cards.css">
    
    <title>Ionic Swipe Down</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    
    <script src="lib/ionic/js/collide.js"></script>
    
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/ionic.tdcards.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>

  </head>
  <body ng-app="starter" no-scroll>
    <ion-pane >
      <ion-header-bar class="bar-default">
        <h1 class="title">TD Cards</h1>
      </ion-header-bar>

 
    </ion-pane>


    <ion-nav-bar class="bar-royal">
    </ion-nav-bar>
    <ion-tabs class="tabs-royal bottom">
      <ion-tab icon="ion-chatbubbles" ui-sref="help">
        <ion-nav-view name="help"></ion-nav-view>
      </ion-tab>    
      <ion-tab icon="ion-trophy" ui-sref="home">
        <ion-nav-view name="home"></ion-nav-view>
      </ion-tab>
    </ion-tabs>

    <script type="text/ng-template" id="home.html">
      <ion-view title="Home" ng-controller="CardsCtrl">
        <ion-content padding="true" >
                    <div>shalom</div>

        </ion-content>
     <td-cards ng-if="showCards">
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index,card)" on-swipe-right="cardSwipedRight($index,card)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image" ng-controller="CardCtrl">
            <div class="no-text">NO</div>
            
            <div class="textCard">{{card.text}} {{card.key}}</div>
            <div class="yes-text">YES</div>
          </div>
        </td-card>
      </td-cards>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="help.html">
    <ion-view title="Chat">

      <div class="bar bar-subheader notification"></div>

      <ion-content scroll="true" class="has-header" style="padding: 10px;">

        <ol class="messages">
          <li ng-class="{'userMsg': message.username == username}" ng-repeat="message in messages">
            <div>
              <span ng-if="message.username != username" class="message-username">{{message.username}}</span>
              <p ng-bind="message.content" ng-class="{'userMsg': message.username == username}"></p>
            </div>
          </li>
        </ol>
      </ion-content>

      <ion-footer-bar style="display:inline">
        <form ng-submit="sendMessage()" class="message-form">
          <label class="item-input-wrapper">
            <input ng-model="newMessage" class="input-message" type="text" placeholder="Message">
          </label>
        </form>
      </ion-footer-bar>

    </ion-view>
    </script>




  </body>
</html>
